@model BeautyStore.Domain.Entities.Categoria

@{
    ViewData["Title"] = "Cadastrar Categoria";
}

<center><h2>@ViewData["Title"]</h2></center>

<div class="row justify-content-center">
    <div class="col-md-8">
         <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card shadow-sm">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-8">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </dt>
                    </dl>
                    <dl class="row">
                        <dd class="col-sm-8">
                            <label asp-for="Descricao" class="control-label"></label>
                            <input asp-for="Descricao" class="form-control" />
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </dd>
                    </dl>
                </div>

                <div class="card-footer d-flex justify-content-between">
                    <button type="submit" class="btn btn-success"><span class="fa fa-check"></span></button>
                    <a class="btn btn-dark" asp-action="Index"><span class="fa fa-arrow-left"></span></a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


